body {
  margin: 0;
  padding: 0;
  color: #d39dc1;
  background-image: url("images/fondo.png");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-position: center; */
}
.contacto,
.acercaDe {
  color: #d39dc1;
}
.logo {
  max-width: 40px;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 270px;
  height: 100vh; /* ajusta la altura al 100% del viewport */
  background-color: #212529;
  padding: 120px 0;
  text-align: center;
  color: #d39dc1;
  z-index: -1;
}

.profession {
  font-size: 10px;
  padding-right: 5px;
}

.name {
  padding-left: 5px;
}

a {
  color: #d39dc1;
  text-decoration: none;
  font-size: 14px;
}

.miFoto {
  max-height: 200px;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.containerPie {
  margin: 0 50px;
}

.content {
  margin-left: 270px; /*ajusta el margen izquierdo para dar espacio a la barra lateral*/
  padding: 20px;
}
