* {
  margin: 0;
  color: #d39dc1;
  padding: 0;
}

body {
  background-image: url("../images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.contacto,
.acercaDe {
  color: #d39dc1;
}
.logo {
  max-width: 40px;
}

.sidebar {
  position: fixed;
  padding: 20px 14px;
  text-align: center;
  
  margin: 80px 10px 450px;
}

.profession {
  font-size: 10px;
}

.miFoto {
  max-height: 200px;
}

a {
  color: #d39dc1;
  text-decoration: none;
  font-size: 14px;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

i {
  margin: 0 50px;
}

.contenido {
  margin: 80px 30px 30px 300px;
  
}

p {
  text-align: justify;
}

#boton {
  color: #d39dc1;
}

.marcas {
  display: flex;

  justify-content: space-around;
  align-items: flex-start;
}

.linkLetra {
  font-size: 30px;
  font-weight: bold;
}

.pLetra {
  font-size: 20px;
  font-weight: bold;
}
