* {
  margin: 0;
  color: #d39dc1;
  padding: 0;
}

body {
  background-image: url("../images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.contacto,
.acercaDe {
  color: #d39dc1;
}
.logo {
  max-width: 40px;
}

.sidebar {
  position: fixed;
  padding: 20px 14px;
  text-align: center;

  margin: 80px 10px 450px;
}

.profession {
  font-size: 10px;
}

.miFoto {
  max-height: 200px;
}

a {
  color: #d39dc1;
  text-decoration: none;
  font-size: 14px;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

i {
  margin: 0 50px;
}

.contenido {
  margin: 80px 30px 30px 300px;
}

p {
  text-align: justify;
}

#boton {
  color: #d39dc1;
}

.marcas {
  display: flex;

  justify-content: space-around;
}

.item {
  max-width: fit-content;
  border-radius: 45%;
  border-color: #d39dc1;
}

h5 {
  padding: 0;
  margin: 0;
}

.skills {
  padding: 0;
  margin: 0;
}

.linkLetra {
  font-size: 30px;
  font-weight: bolder;
}

.pLetra {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  margin-bottom: 5px;
  background-color: rgba(231, 137, 206, 0.5);
}

.carousel-item {
  height: 70vh;
}

@media (max-width: 768px) {
  .row {
    flex-grow: auto;
    justify-content: space-around;
  }

  .sidebar {
    position: static;
    width: 70%;
    margin-bottom: 10%;
  }
  .contenido {
    margin: 0px 30px;
    padding: 5px;
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}
